.container {
  margin: 5rem;
}

.row {
  width: calc(100% / 4);
  text-align: center;
  border-right: 1px solid #dfe2e5;
  border-bottom: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.header {
  border-top: 1px solid #dfe2e5;
}

.row:nth-child(1) {
  border-left: 1px solid #dfe2e5;
}

.table {
  display: flex;
}
